.about {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
  }

  .aboutBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 50px;
  }

  .aboutBottom p {
    width: 1200px;
  }

  .aboutBottom h3 {
    width: 1200px;
  }

  .aboutBottom ul {
    width: 1200px;
  }
  
  .aboutTop {
    width: 100%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .logoSmall {
    width: 150px;
  }

  @media only screen and (max-width: 900px) {
    .about {
        width: 100%;
        height: 120vh;
    }
  
    .aboutBottom p {
      width: 600px;
    }
  
    .aboutBottom h3 {
      width: 600px;
    }
  
    .aboutBottom ul {
      width: 600px;
    }
  }

  @media only screen and (max-width: 600px) {
  .about {
      width: 100%;
      height: 160vh;
  }

  .aboutBottom p {
    width: 315px;
  }

  .aboutBottom h3 {
    width: 315px;
  }

  .aboutBottom ul {
    width: 315px;
  }
}