.galleryTitle {
    margin-left: 25px;
    padding-top: 40px;
}

.galleryblurb {
    margin-left: 25px;
}

@media screen and (max-width: 850px) {
    .galleryTitle {
       text-align: center;
    }
    .galleryblurb {
        text-align: center;
    }
}
    